.wrapper {
  position: absolute;
  right: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #333;
}

.content {
  font-size: 12px;
  margin-left: unset;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    width: calc(100% - var(--nav-width));
    justify-content: flex-start;
    padding: 19px 0;
  }
  .content {
    font-size: 16px;
    margin-left: 129px;
  }
}
